@import 'src/variables.scss';

.button {
  cursor: pointer;
  color: $text_primary;
  border-radius: 100%;
  border: 0;

  transition: background-color 0.4s ease;

  &:hover {
    background-color: $bg_lightprimary;
  }

  &[data-size='xs'] {
    height: 30px;
    width: 30px;
  }

  &[data-size='sm'] {
    height: 30px;
    width: 30px;
  }

  &[data-size='md'] {
    height: 35px;
    width: 35px;
  }

  &[data-size='lg'] {
    height: 40px;
    width: 40px;
  }


  &[data-size='xl'] {
    height: 45px;
    width: 45px;
  }

  &[data-color='primary'] {
    background-color: $bg_primary;
  }

  &[data-color='danger'] {
    background-color: $danger;
  }

  &[data-color='success'] {
    background-color: $success;
  }

}
