@import 'src/variables.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.open {
  width: 250px;
  max-width: 250px;

  form {
    width: 100%;
  }
}

.controls {
  display: flex;
  justify-content: space-between;
  gap: $spaces_md;
}

.openFilter {
  display: flex;
  justify-content: end;
  width: 100%;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 50px;
  }
}

.averageRate {
  span {
    font-size: $label;
  }

  div {
    display: flex;

    div {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
