@import 'src/variables.scss';


.button {
  border: 0px;
  border-radius: 3px;
  color: $text_primary;
  transition: background-color 0.4s ease;
  display: flex;
  justify-content: center;
  padding: $spaces_sm $spaces_lg;
  font-size: $body1;
  cursor: pointer;

  &[data-color='primary'] {
    background-color: $bg_primary;

    &:hover {
      background-color: $bg_lightprimary;
    }
  }

  &[data-color='secondary'] {
    background-color: $bg_lightdark;
  }

  &[data-color='danger'] {
    background-color: $danger;
  }

  &:disabled {
    background-color: $bg_lightpurple;
    cursor: not-allowed;

    &:hover {
      background-color: $bg_lightpurple;
    }
  }

  &[data-sizevar='xs'] {
    padding: $spaces_xs $spaces_sm;
    font-size: $buttonSmall;
  }

  &[data-sizevar='md'] {
    padding: $spaces_sm $spaces_lg;
    font-size: $body1;
  }

  &[data-sizevar='md'] {
    padding: $spaces_sm $spaces_lg;
    font-size: $body1;
  }

}
