@import 'src/variables.scss';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $spaces_md;
  margin: $spaces_md 0;
}

.control {
  display: block;
  font-size: 15px;
  min-width: 15px;
  min-height: 100%;
}
