@import 'src/variables.scss';

.wrapper {
  width: 100%;
  flex-grow: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  span {
    font-size: 100px;
    text-align: center;

    display: flex;
    align-items: center;

    img {
      margin-right: 10px;
      height: 130px;
      object-fit: contain;
    }

    &:last-child {
      margin-top: 15px;
      font-size: 35px;
    }
  }




  background-color: $bg_dark;
  color: $text_primary;
}
