@import 'src/variables.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
}

.formWrapper {
  display: flex;
  flex-direction: column;

  button {
    margin-top: $spaces_md;
  }
}

.inputWrapper {
  margin-bottom: $spaces_sm;
}


h3 {
  color: $text_primary;
  margin-bottom: $spaces_sm;
  font-size: $h3;
}

.backendError {
  color: $danger;
  font-size: $caption;
}

.loginCaption {
  margin-top: $spaces_xs;
  font-size: $caption;

  a {
    text-decoration: underline;
    cursor: pointer;
  }
}
