@import 'src/variables.scss';

.infoWrapper {
  display: flex;
  margin-bottom: $spaces_xl5;

}

.comments {
  font-size: $h4;
  margin: $spaces_xl1 0 $spaces_md 0;
}

.posterWrapper {
  margin-right: $spaces_md;
}

.info {
  flex: 1;
  width: 800px;

  &>div:first-child {
    margin-bottom: $spaces_md;
  }
}

.controls,
.adminControls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: $spaces_md;
  gap: $spaces_md;
}
