@font-face {
  font-family: 'Roboto';
  src: url(./assets/fonts/Roboto/Roboto-Medium.ttf);
  font-weight: 500;
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'Roboto';
  src: url(./assets/fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 300;
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
