@import 'src/variables.scss';

.wrapper {
  flex: 1;
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: $spaces_md;
}

.genresTitle {
  display: flex;
  align-items: center;
}

.genres {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  &>div {
    margin-left: 0;
  }
}

// .table {
//   table-layout: fixed;

//   td {
//     overflow-wrap: break-word;
//     font-size: $body1;
//     vertical-align: top;

//     &:first-of-type {
//       white-space: nowrap;
//       position: relative;
//       color: $text_primary;
//       border-right: $spaces_sm solid transparent;
//       border-bottom: $spaces_sm solid transparent;

//       &:after {
//         content: ':';
//         top: 7px;
//       }
//     }



//     &:nth-child(2) {
//       padding-left: $spaces_xl;
//     }
//   }
// }
