@import 'src/variables.scss';

.wrapper {
  flex: 1;
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: $spaces_md;
  font-size: $body2;
}

.entityTitle {
  display: flex;
  align-items: center;
}

.entities {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  &>div {
    margin: 0 $spaces_sm 0 0;
  }
}
